.header {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 30px;
}

.lightHeader {
  composes: header;
  background-color: #f5f5f5;
}

.darkHeader {
  composes: header;
  background-color: #1e1e1e;
  color: #ffffff;
}

.turquoiseHeader {
  composes: header;
  background-color: #40e0d0;
}

.bisqueHeader {
  composes: header;
  background-color: #ffe4c4;
}

.plumHeader {
  composes: header;
  background-color: #dda0dd;
}

.section {
  height: calc(100vh - 90px);
  padding: 50px;
  text-align: center;
}

.lightSection {
  composes: section;
  background-color: #ffffff;
  color: #000000;
}

.darkSection {
  composes: section;
  background-color: #0a0a0a;
  color: #f5f5f5;
}

.turquoiseSection {
  composes: section;
  background-color: #4cf1e1;
}

.bisqueSection {
  composes: section;
  background-color: #fff0df;
}

.plumSection {
  composes: section;
  background-color: #f1b6f1;
}

.button {
  width: auto;
  height: auto;
  padding: 15px;
  background-color: #236868;
  color: #ffffff;
  border: 1px solid #4fbcbc;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #134848;
}
